/* Peleg Vadbeker 209485838
   Eden Blau 208571927
   Dudi Kreis 311333900
*/
.reports {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 50px;
    align-items: center;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
}

.select-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    align-items: baseline;
}

.label {
    font-size: 18px;
    font-weight: 500;
}
.select{
    font-size: 100%;
    padding: 0.3em;
    outline: none;
    background-color: white;
    display: flex;
}

.submit{
    display: flex;
    padding: 15px 15px;
    border-radius: 25px;
    border: none;
    background-color: #23C483FF;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.submit:hover{
    background-color: #23C483FF;
    opacity: 0.8;
    transition: 0.3s;
}
.total-expenses{
    font-size: 24px;
    font-weight: 500;
}
.total-number{
    color: #23C483FF;
    font-weight: 600;
}
